
<table id="datatables_pointages" class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Admission</th>
            <th>Nom</th>
            <th>UserID</th>
            <th>Pointage</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>Admission</th>
            <th>Nom</th>
            <th>UserID</th>
            <th>Pointage</th>
        </tr>
    </tfoot>
</table>